#root{
    display: flex;
}
.chats-container{
    height:90vh;
    width:150px;
    background-color: var(--main-color);
    margin-left:150px;
    position:relative;
    margin-top: 5vh;
    border-radius:20px;
    opacity:.9
}
.chats-list{
    padding: 0;
    list-style-type: none;
}
.chat-li{
    list-style: none;
    color: rgb(200, 209, 216);
    margin-top:25px;
    margin-left:0px;
    font-size:1.3rem;
    width:100%;
    display: flex;
    
}
.chat-li-link{
    background-color: rgb(43, 43, 43);
    margin-left:10%;
    text-align:center;   
    border-radius:7px;
    width:80%;
    text-decoration: none;
    color:var(--text-color);
    display: flex;
    align-items: center;
}
.chat-li-link > p {
    width:100%;
    position: relative;
    top: 5px;
}
.chat-li-link-active{
    color: var(--text-active);
}








.conversation-container{

    
}
div.messages-container{
    height:80vh;
    width:55vw;
    background-color: var(--main-color);
    margin-left:150px;
    position:relative;
    margin-top: 5vh;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    opacity:.9;
    flex: 1;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}
.messages-container::-webkit-scrollbar{
    display: none;
}
form.input-container{
    background-color: var(--main-color);
    width:55vw;
    height:10vh;
    margin-left:150px;
    opacity:.9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
input.message-input{
    box-shadow: none;

}
.messages-container-error{
    color:var(--text-color);
    font-size:1.5rem;
    text-align: center;
    margin-top:25px
}
